<form action="/submit_bet" method="post">
  <h3>We are starting you with $<%=session[:chips]%>.00 in chips</h3>
  <br/>
  <h3> How much would you like to bet <%=session[:username]%>? </h3> <br/>
  <input type="text" name="bet"/> <br/>
  <input type="submit" class="btn" value="Submit"/>
</form>
