<img src='/images/logo/blackjack-logo-big.png' class='logo'/>

<h2>Welcome to Blackjack!<h2>

<h4>Please enter your name:</h4>

<form id="name_form "action="/submit_name" method='post'>
  <input type='text' name='username' <br/> <br/>
  <input type='submit' class='btn' value='PLAY'/>
</form>