body {
	z-index: 0;
	background-image: url('/images/green-felt.jpg');
	color: #FFEA00;
	font-family: 'Droid Serif', serif;
	text-shadow: 1px 1px black;
}

div.rules {
	font-family: 'Playfair Display SC', serif;
	text-align: center;
	margin: 15px 0;
}

div.rules p:first-child {
	color: #ED051C;
	font-size: 50px;
}

div.rules p:last-child {
	font-size: 30px;
}

div.rules p {
	margin-bottom: 25px;
}

form#hit, form#play_again {
	float: left;
	margin-right: 10px;
}

form#stay, form#quit {
	float: left;
}

img.card {
	width: 15%;
	height: 15%;
	margin-right: 10px;
	border-radius: 10px;
	box-shadow: 3px 3px 6px black;
}

img.logo {
	z-index: 1;
	margin-top: 40px;
	margin-bottom: 100px;
}

div.player-well {
	margin: 30px 0;
	border: 3px solid #F5F1C6;
	border-radius: 5px;
	padding: 15px;
}

div.player-well p {
	clear: both;
	margin-top: 30px;
}

span {
	color: red;
}

@font-face {
  font-family: "Droid Serif";
  src: url("DroidSerif-Bold.ttf");
}

@font-face {
  font-family: "Playfair Display SC";
  src: url("PlayfairDisplaySC-Black.ttf");
}



